.App {
    width: 100vw;
    min-height: 100vh;
    background: aliceblue;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 40px;
}